{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-3">
                    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post" >
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        <button type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}